<!-- <h1>Videogames</h1>
<div *ngFor="let videogame of videogames">
    <h2>{{videogame.title}}</h2>
     <br>
    <span>Release Date:</span>
    {{videogame.releaseDate}} <br>
    <span *ngIf="videogame.isAvailable">Available</span>
    <span *ngIf="!videogame.isAvailable" style="color: red;">Not Available</span> <br>
    {{videogame.price}}€
</div> -->

<!-- <h1>Stop<span style="color: red">Game</span></h1> -->

<!-- HOME GOES HERE -->

<mat-tab-group  fitInkBarToContent >
  <mat-tab label="Home"
    >
    <div class="parent">
      <div class="div1"> un div </div>
      <div class="div2"> un altro div</div>
      <div class="div3"> un terzo div</div>
      </div>
  
  </mat-tab>
<!-- END HOME -->

  <!-- all games go here -->
  <mat-tab label="All"
    ><div class="card-container">
      <div *ngFor="let videogame of videogames">
        <mat-card class="example-card new_item" [ngClass]="{ new_item : videogame.releaseDate === 2023}">
          <img
            [attr.src]="videogame.source"
            style="
              border-top-right-radius: 2rem;
              border-top-left-radius: 2rem;
              height: 170px;
            "
          />
          <mat-card-header>
            <mat-card-title>{{ videogame.title }}</mat-card-title>
            <mat-card-subtitle
              >Release Date: {{ videogame.releaseDate }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            {{ videogame.description }}
            <ng-template [ngIf]="videogame.isAvailable">
              <p>Available</p>
            </ng-template>
            <ng-template [ngIf]="!videogame.isAvailable" style="color: red">
              <p>Not Available</p>
            </ng-template>
            <br />
            {{ videogame.price | currency:'EUR'}}
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              *ngIf="videogame.isAvailable"
              (click)="servizio.buyRedirect(videogame)"
            >
              BUY ON STEAM
            </button> <img *ngIf="videogame.releaseDate === 2023" src="https://raw.githubusercontent.com/chiaraferrara/AppServices/master/src/app/img/new.png" style="width: 60px; margin-left: 70px;">
            <button mat-raised-button disabled *ngIf="!videogame.isAvailable">
              NOT AVAILABLE TO BUY
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-template></ng-template>

    <!-- end of all games -->

    <!-- used games go here -->
  </mat-tab>
  <mat-tab label="Usato">
    <div class="card-container">
      <div *ngFor="let videogame of videogames">
        <mat-card
          class="example-card"
          *ngIf="videogame.usato && videogame.isAvailable"
        >
          <img
            [attr.src]="videogame.source"
            style="
              border-top-right-radius: 2rem;
              border-top-left-radius: 2rem;
              height: 170px;
            "
          />
          <mat-card-header>
            <mat-card-title>{{ videogame.title }}</mat-card-title>
            <mat-card-subtitle
              >Release Date: {{ videogame.releaseDate }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            {{ videogame.description }}
            <ng-template [ngIf]="videogame.isAvailable">
              <p>Available</p>
            </ng-template>
            <ng-template [ngIf]="!videogame.isAvailable" style="color: red">
              <p>Not Available</p>
            </ng-template>
            <br />
            {{ videogame.price | currency:'EUR' }}
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              *ngIf="videogame.isAvailable"
              (click)="servizio.buyRedirect(videogame)"
            >
              BUY ON STEAM
            </button> <img *ngIf="videogame.releaseDate === 2023" src="https://raw.githubusercontent.com/chiaraferrara/AppServices/master/src/app/img/new.png" style="width: 60px; margin-left: 70px;">
            <button mat-raised-button disabled *ngIf="!videogame.isAvailable">
              NOT AVAILABLE TO BUY
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-template></ng-template>
  </mat-tab>

  <!-- fine giochi usati -->

  <!-- giochi nuovi -->
  <mat-tab label="Nuovo">
    <div class="card-container">
      <div *ngFor="let videogame of videogames">
        <mat-card
          class="example-card"
          *ngIf="!videogame.usato && videogame.isAvailable"
        >
          <img
            [attr.src]="videogame.source"
            style="
              border-top-right-radius: 2rem;
              border-top-left-radius: 2rem;
              height: 170px;
            "
          />
          <mat-card-header>
            <mat-card-title>{{ videogame.title }}</mat-card-title>
            <mat-card-subtitle
              >Release Date: {{ videogame.releaseDate }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-content>
            <mat-divider></mat-divider>
            {{ videogame.description }}
            <ng-template [ngIf]="videogame.isAvailable">
              <p>Available</p>
            </ng-template>
            <ng-template [ngIf]="!videogame.isAvailable" style="color: red">
              <p>Not Available</p>
            </ng-template>
            <br />
            {{ videogame.price | currency:'EUR' }}
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              *ngIf="videogame.isAvailable"
              (click)="servizio.buyRedirect(videogame)"
            >
              BUY ON STEAM
            </button> <img *ngIf="videogame.releaseDate === 2023" src="https://raw.githubusercontent.com/chiaraferrara/AppServices/master/src/app/img/new.png" style="width: 60px; margin-left: 70px;">
            <button mat-raised-button disabled *ngIf="!videogame.isAvailable">
              NOT AVAILABLE TO BUY
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-template></ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template>
  <div class="card-container">
    <div *ngFor="let videogame of videogames">
      <mat-card class="example-card">
        <img
          [attr.src]="videogame.source"
          style="
            border-top-right-radius: 2rem;
            border-top-left-radius: 2rem;
            height: 80px;
          "
        />
        <mat-card-header>
          <mat-card-title>{{ videogame.title }}</mat-card-title>
          <mat-card-subtitle
            >Release Date: {{ videogame.releaseDate }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <mat-divider></mat-divider>
          {{ videogame.description }}
          <ng-template [ngIf]="videogame.isAvailable">
            <p>Available</p>
          </ng-template>
          <ng-template [ngIf]="!videogame.isAvailable" style="color: red">
            <p>Not Available</p>
          </ng-template>
          <br />
          {{ videogame.price }}€
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            *ngIf="videogame.isAvailable"
            (click)="servizio.buyRedirect(videogame)"
          >
            BUY ON STEAM
          </button>
          <button mat-raised-button disabled *ngIf="!videogame.isAvailable">
            NOT AVAILABLE TO BUY
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <ng-template></ng-template>
</ng-template>
