@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

.example-card {
    max-width: 400px;
    height: 550px;
    margin: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top-right-radius: 2rem ; 
    border-top-left-radius: 2rem ;
    background: linear-gradient(180deg, rgba(249,249,249,1) 38%, rgba(249,249,249,1) 47%, rgba(214,214,214,1) 100%);
    color: rgb(0, 0, 0);
  }
  mat-card-subtitle{
    color: rgb(0, 0, 0);
  }
mat-divider{
    background-color: rgb(0, 0, 0);
    margin-bottom: 2em;
}
 
  .card-container {
    display: flex;
    flex-wrap: wrap; 
    overflow-x: auto;  
    justify-content: center;
    padding-inline:10%;
  }
  h1{
    text-align: center;
    color: #000000;
    padding: 2%;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 120px;
    
  }