@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto&display=swap');

body{
    
    font-family: 'Merriweather', serif;
    background: linear-gradient(0deg, rgba(226,214,9,1) 0%, rgba(226,214,9,1) 53%, rgba(249,249,249,1) 53%, rgba(249,249,249,1) 66%, rgba(226,214,9,1) 66%, rgba(226,214,9,1) 100%);
   background-color: #e2d609;
   background-size: cover;
   background-repeat: repeat-x;
    
}
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
